@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background-color: #060607;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    position: relative;
    top: -40px;
}

svg {
    width: 100%;
}

.loading-text {
    text-align: center;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 16px;
}